Repository syncfusion/maui-toolkit, pull requests merged in 2025-03, with the labels that each got.

#107 Cards control in MAUI Toolkit
  README.md
  maui/samples/Gallery/ControlList.xml
  maui/samples/Gallery/Resources/Images/bitcoin.jpg
  maui/samples/Gallery/Resources/Images/building.jpg
  maui/samples/Gallery/Resources/Images/cardchip.png
  maui/samples/Gallery/Resources/Images/cards.png
  maui/samples/Gallery/Resources/Images/coin.jpg
  maui/samples/Gallery/Resources/Images/hexagon.jpg
  maui/samples/Gallery/SampleList/CardsSamplesList.xml
  maui/samples/Gallery/Samples/Cards/GettingStarted/Behavior/GettingStartedBehavior.cs
  maui/samples/Gallery/Samples/Cards/GettingStarted/View/CardView.xaml
  maui/samples/Gallery/Samples/Cards/GettingStarted/View/CardView.xaml.cs
  maui/samples/Gallery/Samples/Cards/GettingStarted/ViewModel/ViewModel.cs
  maui/samples/Gallery/Syncfusion.Maui.ControlsGallery.csproj
  maui/src/AssemblyInfo.cs
  maui/src/Cards/CardLayoutBase.cs
  maui/src/Cards/Enums/CardSwipeDirection.cs
  maui/src/Cards/Enums/DismissDirection.cs
  maui/src/Cards/Enums/IndicatorPosition.cs
  maui/src/Cards/EventArgs/DismissedEventArgs.cs
  maui/src/Cards/EventArgs/DismissingEventArgs.cs
  maui/src/Cards/EventArgs/VisibleCardIndexChangedEventArgs.cs
  maui/src/Cards/EventArgs/VisibleCardIndexChangingEventArgs.cs
  maui/src/Cards/Helper/CardsHelper.cs
  maui/src/Cards/SfCardLayout.cs
  maui/src/Cards/SfCardView.cs
  maui/src/Core/Theme/Resources/DefaultTheme.xaml
  maui/src/Themes/SfCardViewStyles.xaml
  maui/src/Themes/SfCardViewStyles.xaml.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Cards/CardsAutomationUnitTests.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Cards/CardsLayoutUnitTests.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Cards/CardsViewUnitTests.cs
Labels: enhancement, new-control

#112 Implement Popup control in MAUI Toolkit
  maui/samples/Gallery/ControlList.xml
  maui/samples/Gallery/Resources/Images/popup.png
  maui/samples/Gallery/SampleList/PopupSamplesList.xml
  maui/samples/Gallery/Samples/Popup/GettingStarted/GettingStarted.xaml
  maui/samples/Gallery/Samples/Popup/GettingStarted/GettingStarted.xaml.cs
  maui/samples/Gallery/Samples/Popup/Helper/Behavior.cs
  maui/samples/Gallery/Samples/Popup/Helper/SfEffectsViewAdv.cs
  maui/samples/Gallery/Samples/Popup/Model/GettingStartedModel.cs
  maui/samples/Gallery/Samples/Popup/ViewModel/GettingStartedViewModel.cs
  maui/samples/Gallery/Syncfusion.Maui.ControlsGallery.csproj
  maui/src/Core/AppHostBuilder.cs
  maui/src/Core/Theme/Resources/DefaultTheme.xaml
  maui/src/Core/WindowOverlay/Enum.cs
  maui/src/Core/WindowOverlay/WindowOverlay.Android.cs
  maui/src/Core/WindowOverlay/WindowOverlay.Standard.cs
  maui/src/Core/WindowOverlay/WindowOverlay.Windows.cs
  maui/src/Core/WindowOverlay/WindowOverlay.cs
  maui/src/Core/WindowOverlay/WindowOverlay.iOS.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/Handler/OverlayContainerHandler.Android.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/Handler/OverlayContainerHandler.Standard.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/Handler/OverlayContainerHandler.Windows.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/Handler/OverlayContainerHandler.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/Handler/OverlayContainerHandler.iOS.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/PlatformView/WindowOverlayStack.Android.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/PlatformView/WindowOverlayStack.Windows.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/PlatformView/WindowOverlayStack.iOS.cs
  maui/src/Core/WindowOverlay/WindowOverlayContainer/WindowOverlayContainer.cs
  maui/src/Core/WindowOverlay/WindowOverlayHelper.cs
  maui/src/Popup/Helpers/Enums.cs
  maui/src/Popup/Helpers/PopupExtension/PopupExtension.Android.cs
  maui/src/Popup/Helpers/PopupExtension/PopupExtension.Standard.cs
  maui/src/Popup/Helpers/PopupExtension/PopupExtension.Windows.cs
  maui/src/Popup/Helpers/PopupExtension/PopupExtension.cs
  maui/src/Popup/Helpers/PopupExtension/PopupExtension.iOS.cs
  maui/src/Popup/Helpers/ShadowHelper/PopupViewShadowExtension.Windows.cs
  maui/src/Popup/Helpers/ShadowHelper/ShadowCompositionImageBrush.Windows.cs
  maui/src/Popup/PopupCloseButton.cs
  maui/src/Popup/PopupFooter.cs
  maui/src/Popup/PopupHeader.cs
  maui/src/Popup/PopupMessageView.cs
  maui/src/Popup/PopupView.cs
  maui/src/Popup/Resources/SfPopup.resx
  maui/src/Popup/Resources/SfPopupResources.cs
  maui/src/Popup/SfPopup/SfPopup.Android.cs
  maui/src/Popup/SfPopup/SfPopup.Standard.cs
  maui/src/Popup/SfPopup/SfPopup.Windows.cs
  maui/src/Popup/SfPopup/SfPopup.cs
  maui/src/Popup/SfPopup/SfPopup.iOS.cs
  maui/src/Popup/SfPopupOverlayContainer.cs
  maui/src/Popup/Style/CustomClass.cs
  maui/src/Popup/Style/PopupStyle.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Layout/SfPopupUnitTest.cs
Labels: new-control

#111 Improve animation for the Maui Bottom sheet control
  maui/src/BottomSheet/BottomSheetBorder.cs
  maui/src/BottomSheet/SfBottomSheet.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Navigation/SfBottomSheetUnitTests.cs
Labels: bug, bottom sheet, improvements

#126 Improve the touch interaction in Maui toolkit Navigation drawer.
  maui/src/NavigationDrawer/SfNavigationDrawer.Android.cs
Labels: bug, navigation drawer

#117 Implement the Empty Point support in the Cartesian Chart in MAUI Toolkit
  maui/samples/Gallery/SampleList/CartesianChartSamplesList.xml
  maui/samples/Gallery/Samples/CartesianChart/EmptyPoints/EmptyPointSupport.xaml
  maui/samples/Gallery/Samples/CartesianChart/EmptyPoints/EmptyPointSupport.xaml.cs
  maui/samples/Gallery/Samples/CartesianChart/EmptyPoints/EmptyPointViewModel.cs
  maui/src/Charts/Area/Partial/CartesianChartArea.cs
  maui/src/Charts/Axis/Layouts/CartesianAxisLayout.cs
  maui/src/Charts/DataLabel/ChartDataLabelSettings.cs
  maui/src/Charts/Layouts/ChartSeriesView.cs
  maui/src/Charts/Segment/CartesianSegment.cs
  maui/src/Charts/Segment/ChartSegment.cs
  maui/src/Charts/Segment/FastLineSegment.cs
  maui/src/Charts/Segment/HiLoOpenCloseSegment.cs
  maui/src/Charts/Segment/PieSegment.cs
  maui/src/Charts/Segment/RangeAreaSegment.cs
  maui/src/Charts/Segment/RangeColumnSegment.cs
  maui/src/Charts/Segment/SplineRangeAreaSegment.cs
  maui/src/Charts/Series/AreaSeries.cs
  maui/src/Charts/Series/BoxAndWhiskerSeries.cs
  maui/src/Charts/Series/BubbleSeries.cs
  maui/src/Charts/Series/CartesianSeries.cs
  maui/src/Charts/Series/ChartSeries.cs
  maui/src/Charts/Series/ChartSeriesPartial.cs
  maui/src/Charts/Series/ErrorBarSeries.cs
  maui/src/Charts/Series/FastLineSeries.cs
  maui/src/Charts/Series/FinancialSeriesBase.cs
  maui/src/Charts/Series/HiLoOpenCloseSeries.cs
  maui/src/Charts/Series/PieSeries.cs
  maui/src/Charts/Series/RangeAreaSeries.cs
  maui/src/Charts/Series/RangeColumnSeries.cs
  maui/src/Charts/Series/RangeSeriesBase .cs
  maui/src/Charts/Series/SplineRangeAreaSeries.cs
  maui/src/Charts/Series/WaterfallSeries.cs
  maui/src/Charts/Series/XYDataSeries.cs
  maui/src/Charts/Styles/ChartMarkerSettings.cs
  maui/src/Charts/Styles/EmptyPointSettings.cs
  maui/src/Charts/Utils/ChartUtils.cs
  maui/src/Charts/Utils/Enum.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Chart/Features/DataLabelUnitTests.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Chart/Features/EmptyPointSettingUnitTest.cs
Labels: enhancement, chart

#121 Implement Accordion and Expander control in MAUI Toolkit
  README.md
  maui/samples/Gallery/ControlList.xml
  maui/samples/Gallery/Resources/Images/accordion.png
  maui/samples/Gallery/Resources/Images/emp_01.png
  maui/samples/Gallery/Resources/Images/emp_02.png
  maui/samples/Gallery/Resources/Images/emp_03.png
  maui/samples/Gallery/Resources/Images/emp_04.png
  maui/samples/Gallery/Resources/Images/emp_05.png
  maui/samples/Gallery/Resources/Images/emp_06.png
  maui/samples/Gallery/Resources/Images/emp_07.png
  maui/samples/Gallery/Resources/Images/emp_08.png
  maui/samples/Gallery/Resources/Images/emp_09.png
  maui/samples/Gallery/Resources/Images/expander.png
  maui/samples/Gallery/Resources/Images/registrationform.png
  maui/samples/Gallery/Resources/Styles/SampleBrowserStyles.xaml
  maui/samples/Gallery/SampleList/AccordionSamplesList.xml
  maui/samples/Gallery/SampleList/ExpanderSamplesList.xml
  maui/samples/Gallery/Samples/Accordion/GettingStarted/Model/EmployeeInfo.cs
  maui/samples/Gallery/Samples/Accordion/GettingStarted/View/AccordionGettingStarted.xaml
  maui/samples/Gallery/Samples/Accordion/GettingStarted/View/AccordionGettingStarted.xaml.cs
  maui/samples/Gallery/Samples/Accordion/GettingStarted/ViewModel/EmployeeDetails.cs
  maui/samples/Gallery/Samples/Expander/GettingStarted/Helper/Behavior.cs
  maui/samples/Gallery/Samples/Expander/GettingStarted/Helper/ExpanderScrollView.cs
  maui/samples/Gallery/Samples/Expander/GettingStarted/Model/InvoiceItem.cs
  maui/samples/Gallery/Samples/Expander/GettingStarted/View/ExpanderGettingStarted.xaml
  maui/samples/Gallery/Samples/Expander/GettingStarted/View/ExpanderGettingStarted.xaml.cs
  maui/samples/Gallery/Samples/Expander/GettingStarted/ViewModel/InvoiceViewModel.cs
  maui/samples/Gallery/Syncfusion.Maui.ControlsGallery.csproj
  maui/src/Accordion/AccordionItem.cs
  maui/src/Accordion/AccordionItemView.cs
  maui/src/Accordion/Helper/AccordionScrollView.cs
  maui/src/Accordion/Helper/Enum.cs
  maui/src/Accordion/Helper/Events.cs
  maui/src/Accordion/ItemContainer.cs
  maui/src/Accordion/SfAccordion.cs
  maui/src/AssemblyInfo.cs
  maui/src/Core/Animation/SfAnimation.cs
  maui/src/Core/Theme/Resources/DefaultTheme.xaml
  maui/src/Expander/ExpanderContent.cs
  maui/src/Expander/ExpanderHeader.cs
  maui/src/Expander/Helper/Enum.cs
  maui/src/Expander/Helper/Events.cs
  maui/src/Expander/Helper/Extensions.cs
  maui/src/Expander/SfExpander.cs
  maui/src/Resources/Fonts/MauiMaterialAssets.ttf
  maui/src/Syncfusion.Maui.Toolkit.csproj
  maui/src/Themes/SfAccordionStyles.xaml
  maui/src/Themes/SfAccordionStyles.xaml.cs
  maui/src/Themes/SfExpanderStyles.xaml
  maui/src/Themes/SfExpanderStyles.xaml.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Layout/SfAccordionUnitTests.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Layout/SfExpanderUnitTests.cs
Labels: enhancement, new-control

#122 Implement the Fast Scatter series support in the Cartesian Chart in MAUI Toolkit
  maui/samples/Gallery/SampleList/CartesianChartSamplesList.xml
  maui/samples/Gallery/Samples/CartesianChart/FastScatterChart/FastScatterChart.xaml
  maui/samples/Gallery/Samples/CartesianChart/FastScatterChart/FastScatterChart.xaml.cs
  maui/samples/Gallery/Samples/CartesianChart/FastScatterChart/FastScatterSeriesViewModel.cs
  maui/src/Charts/Segment/FastScatterSegment.cs
  maui/src/Charts/Series/CartesianSeries.cs
  maui/src/Charts/Series/FastScatterSeries.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Chart/ChartSeriesUnitTests.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Chart/DefaultTests/DefaultSegmentUnitTest.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Chart/DefaultTests/SeriesDefaultTestsPartial.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Chart/Features/SegmentUnitTests.cs
Labels: enhancement, chart

#113 Provide CollapseOnOverlayTap support for Maui Bottom Sheet
  maui/src/BottomSheet/SfBottomSheet.cs
  maui/src/Charts/Series/CartesianSeries.cs
  maui/tests/Syncfusion.Maui.Toolkit.UnitTest/Navigation/SfBottomSheetUnitTests.cs
Labels: feature-backlog, bottom sheet

#105 Resolved the button image not rendering properly when placed in a ListView or CollectionView
  maui/src/Button/SfButton.Methods.cs
Labels: bug, button

#80 Improved accessibility support for SfTextInputLayout control
  maui/src/TextInputLayout/SfTextInputLayout.Methods.cs
  maui/src/TextInputLayout/SfTextInputLayout.Properties.cs
  maui/src/TextInputLayout/SfTextInputLayout.cs
Labels: bug, text-input-layout
